* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 16px;
  color: #000d28;
  font-weight: normal;
  font-family: "Oblivian Text UltraLight";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.topmost-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 15px 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.section ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.languages {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
}

.onClick {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.onClick .something {
  background-image: url(../images/header_en_flag.png);
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.onClick .toggle .arrow-down::after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  right: 0px;
  background: url(../images/sprite_img.webp) 0px 0px no-repeat;
}

.onClick .toggle .arrow-up::after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  right: 0px;
  background: url(../images/sprite_img.webp) 0px -8px no-repeat;
}

.dismissal {
  position: fixed;
  /* background-color: #0051ff63; */
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* background-position: 0px -8px; */

.tongues {
  width: 200px;
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  height: 0;
  top: 100%;
  right: 0;
  overflow: hidden;
  background-color: #fff;
  transform: translate(0, -20px);
  transition: all 0.5s;
  z-index: 1001;
}

.tongues .tongue {
  padding: 15px 0 15px 25px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.tongues .tongue:hover {
  background-color: #0051ff;
  color: #fff;
}

.tongue .image {
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tongues .tongue:nth-child(1) {
  margin: 20px 0 0;
}
.tongues .tongue:nth-child(1) .image {
  background-image: url(../images/header_en_flag.png);
}

.tongues .tongue:nth-child(2) .image {
  background-image: url(../images/header_fr_flag.png);
}

.tongues .tongue:nth-child(3) .image {
  background-image: url(../images/header_es_flag.png);
}

.tongues .tongue:nth-child(4) .image {
  background-image: url(../images/header_it_flag.png);
}

.tongues .tongue:nth-child(5) .image {
  background-image: url(../images/header_de_flag.png);
}

.tongues .tongue:nth-child(6) .image {
  background-image: url(../images/header_pt_flag.png);
}

.tongues .tongue:nth-child(7) .image {
  background-image: url(../images/header_my_flag.png);
}

.tongues .tongue:nth-child(8) .image {
  background-image: url(../images/header_this_flag.png);
}

.tongues .tongue:nth-child(9) .image {
  background-image: url(../images/header_ph_flag.webp);
}

.tongues .tongue:nth-child(10) .image {
  background-image: url(../images/header_ar_flag.png);
}

.tongues .tongue:nth-child(11) .image {
  background-image: url(../images/header_th_flag.png);
}

.tongues .tongue:nth-child(12) .image {
  background-image: url(../images/header_vn_flag.png);
}

.tongues .tongue:nth-child(13) .image {
  background-image: url(../images/header_tr_flag.png);
}

.tongues .tongue:nth-child(14) .image {
  background-image: url(../images/China_flag_2.png);
}

.tongues .tongue:nth-child(15) .image {
  background-image: url(../images/China_flag_2.png);
}

.nav {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: visible;
  position: relative;
}

.nav-links-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-links-container ul:not(.hidden-content ul) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.nav-links-container ul li:not(.hidden-content li) {
  position: relative;
  cursor: pointer;
}
.nav-links-container ul li:not(.hidden-content li)::after {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  height: 50px;
  content: "";
  width: 100%;
  /* background-color: #000; */
}

.logo-div {
  background-image: url("../images/logo.png");
  background-color: #fff;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 180px;
  height: 70px;
  width: 250px !important;
}

.nav-last {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-last .image {
  background: url(../images/sprite_img.webp) -15px 0px no-repeat;
  height: 30px;
  margin-right: 10px;
  width: 28px;
}

.nav-last button {
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid;
}

.nav-last button:nth-of-type(1) {
  background-color: #0051ff;
  border: #0051ff;
  color: #fff;
}

.hidden-content {
  display: none;
  min-width: 846px !important;
  width: 846px !important;
  position: absolute;
  top: calc(100% + 30px);
  padding: 30px;
  left: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fff;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* transition: all 2s; */
  transition-delay: opacity 2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.hidden-content:hover {
  display: flex;
}

.hidden-content ul {
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(846px / 5);
  line-height: 35px;
}

.hidden-content li {
  display: block;
}

.hidden-content ul li:first-of-type {
  padding-bottom: 10px;
  font-weight: 500;
}

.hero {
  /* display: none; */
  height: 690px;
  /* background-color: #0051ff; */
  overflow: hidden;
  /* display: flex; */
  width: 100%;
  position: relative;
}

.heroes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  /* transform: translate(0, -200%); */
  transition: transform 0.3s;
}

.hero [class^="div"] {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 40px 150px;
}

.hero .div1 {
  background: url(../images/home_banner010425_img.png) calc(100% - 50px) bottom
      no-repeat,
    url(../images/home_banner_wrapper_bg.png) center right no-repeat;
}

.hero .div2 {
  background: url(../images/home_banner03_img1.png) calc(100% - 300px) bottom
      no-repeat,
    url(../images/home_banner03_img2.png) calc(100% - 35px) 220px no-repeat,
    url(../images/home_banner_wrapper_bg.png) center right no-repeat;
  background-size: 275px, 250px, contain;
}

.hero .div3 {
  background: url(../images/home_banner02_img.png) calc(100% - 50px) bottom
      no-repeat,
    url(../images/home_banner_wrapper_bg.png) center right no-repeat;
}

.hero [class^="div"] .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.hero .div2 .content {
  width: 60% !important;
}

.mainText {
  font-size: 78px;
  font-weight: normal;
  display: block;
  color: #000d28;
  font-weight: normal;
  font-family: "Oblivian Text Medium";
}

.smaller {
  font-size: 55px !important;
}

.subText {
  display: block;
  font-size: 24px;
  line-height: 1.45;
  margin-bottom: 40px;
}

.clickables {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.clickables .btn {
  background: #0051ff;
  border-radius: 35px;
  padding: 14px 20px 12px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  border: 1px solid #0051ff;
  font-family: "Oblivian Text Medium";
  min-width: 185px;
  text-align: center;
}

.clickables .btn:hover {
  background: #00f0ff;
  border-color: #00f0ff !important;
  color: #000;
}

.clickables .or {
  font-size: 11px;
}

.clickables a {
  font-size: 12px;
  font-family: "Oblivian Text Regular";
  color: #0051ff;
}

.trust {
  margin-top: 10px;
  height: 18px;
  width: 100%;
  background: url(../images/home_banner_trust.png) left center no-repeat;
  background-size: contain;
}

.hero .indicators {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  z-index: 999;
}

.hero .indicators div {
  height: 20px;
  width: 20px;
  background: url(../images/home_banner_pagination.webp) center no-repeat;
  background-size: 15px;
  cursor: pointer !important;
}

.hero .indicators div.current {
  background-image: url(../images/home_banner_pagination_active.webp) !important;
  background-size: contain !important;
}

.slide {
  width: 100%;
  overflow: hidden;
  height: 150px;
}

.slide ul {
  padding: 0;
  margin: 0;
  list-style-image: radial-gradient(#0051ff);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  animation: slider 10s linear infinite normal none;
}

@keyframes slider {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-350px, 0);
  }
  40% {
    transform: translate(calc(-350px * 2), 0);
  }

  60% {
    transform: translate(calc(-350px * 3), 0);
  }
  80% {
    transform: translate(calc(-350px * 4), 0);
  }
  100% {
    transform: translate(calc(-350px * 5), 0);
  }
}

.slide ul li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  width: 350px;
  margin: 0;
}

.slide ul li div {
  position: absolute;
  height: 10px;
  width: 10px;
  left: -5px;
  top: 50%;
  border-radius: 50%;
  border: #0051ff;
  background-color: #0051ff;
}

.slide ul li span:first-of-type {
  font-size: 50px;
  font-weight: bold;
}

.slide ul li span:nth-child(3) {
  font-size: 20px;
  font-weight: normal;
}

.ghostly {
  padding: 30px 20px 0;
  height: 722px;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
}

.display-toggles {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.display-toggles li {
  cursor: pointer;
}

.display-toggles li::after {
  content: "";
  height: 2.5px;
  margin-top: 8px;
  width: 100%;
  background-color: #ffffff;
  display: block;
}

.display-toggles li.in-view::after {
  background-color: #00f0ff;
}

.ghostly .parent {
  position: relative;
  width: 100%;
  height: 647px;
}

.displays {
  width: 100%;
  display: flex;
  height: 647px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  transition: transform 0.3s;
  /* transform: translate(-300%, 0); */
}

.displays [class^="d"] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: url(../images/home_slide_bg.webp) no-repeat center top;
  padding: 0 50px 35px;
  background-size: cover;
}

.funny-image {
  width: 55%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
  z-index: 1;
}

.parent .displays > div:nth-child(1) .funny-image {
  background-image: url(../images/home_swiper_row1_img1.png);
}

.parent .displays > div:nth-child(2) .funny-image {
  background-image: url(../images/home_swiper_row1_img5.png);
}

.parent .displays > div:nth-child(4) .funny-image {
  background-image: url(../images/home_swiper_row1_img4.png);
}

.parent .displays > div:nth-child(3) .funny-image {
  background-image: url(../images/home_swiper_row1_img3.png);
}

.parent .text {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: #fff;
  padding-bottom: 20px;
}

.parent .text span {
  display: block;
}

.intro {
  font-size: 20px;
  font-family: "Oblivian Text Regular";
  line-height: 1.7;
}

.title {
  font-size: 56px;
  font-weight: normal;
  font-family: "Oblivian Text Medium";
  line-height: 1.2;
}

.parent .text ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-family: "Oblivian Text Medium";
}

.parent .text ul li {
  padding-left: 35px;
  background: url(../images/icons-tools-tick.webp) no-repeat left center;
}

.parent .text button {
  min-width: 178px;
  background: #fff;
  border-radius: 35px;
  padding: 14px 20px 12px;
  display: inline-block;
  color: #06122d;
  font-size: 15px;
  border: 1px solid #fff;
  font-family: "Oblivian Text Medium";
}

.ghostly [class^="switch"] {
  height: 40px;
  width: 40px;
  top: calc(50% + 40px);
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.ghostly [class^="switch"]:hover {
  background-color: #00f0ff !important;
}

.ghostly [class^="switch"]::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
}

.d4 button {
  background-color: #0051ff;
  color: #fff;
  border: 1px solid #fff;
}

.d4 button:hover {
  background-color: #00f0ff;
  color: #000d28;
  border: 1px solid #00f0ff;
}

.switchToLeft {
  left: 30px;
  background-color: rgba(0, 238, 255, 0.259);
}

.switchToRight {
  right: 30px;
  background-color: #fff;
}

.switchToLeft::after {
  background: url(../images/icons_swiper.webp) 0 0 no-repeat;
}

.switchToRight::after {
  background: url(../images/icons_swiper.webp) -24px 0 no-repeat;
}

.app-access {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.app-access [class*="-"] {
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: transparent;
}

.app-access .g-play {
  background-image: url(../images/google_play_0426.png);
}

.app-access .a-store {
  background-image: url(../images/app_store.webp);
}

.promotions {
  padding: 100px 0;
  max-width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.promotions .big-text {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  font-size: 56px;
  font-family: "Oblivian Text Medium";
}

.promotions .small-texts {
  line-height: 1.5;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 100;
  display: block;
  font-family: "Oblivian Text UltraLight";
  width: 100%;
}

.offers {
  width: 100%;
  margin-top: 30px;
  position: relative;
  max-width: 840px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.offers .offer {
  width: 49%;
  position: relative;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer .biggest {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Oblivian Text Semi-Bold";
}

.offers::after {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  background: #e5e7e9;
}

.offer .bigger {
  font-size: 24px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: "Oblivian Text Medium";
}

.offer .blue-star {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: #00f0ff url(../images/icons_star.png) center 9px no-repeat;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 8px;
}

.offer .promo-link {
  color: #135aff;
  text-decoration: underline;
  cursor: pointer;
}

.promotions .open-acct {
  margin-top: 50px;
  background: #0051ff;
  border-radius: 35px;
  padding: 14px 20px 12px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  border: 1px solid #0051ff;
  text-decoration: none;
  font-family: "Oblivian Text Medium";
}

.helping {
  position: relative;
  padding: 0 20px 80px 60px;
  background-color: #f9f9f9;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #000d28;
  max-width: 1167.2px;
  margin: 0 auto;
}

.helping .text-content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.helping .text-content .heading {
  display: block;
  width: 100%;
  font-size: 56px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
}

.helping .text-content .image {
  width: 160px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/home_text_and_image_wrapper_icon1.webp);
}

.helping .text-content > .text {
  width: calc(100% - 160px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
}

.helping .text .main {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.7;
  margin: 0px 0px 23px;
}

.helping .text > span:nth-child(2) {
  padding-top: 18px;
}

.helping .text .sub-text {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
  display: block;
  font-weight: normal;
  font-family: "Oblivian Text Medium";
}

.helping .text .text {
  font-weight: normal;
  padding: 0px 0px 26px;
  margin: 0px;
  line-height: 1.5;
}

.helping .h-funny-image {
  position: absolute;
  right: -20px;
  height: 500px;
  width: 40%;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: contain;
  background-image: url(../images/home_text_and_img11.webp);
  transition: transform 0.3s;
  z-index: 1;
  box-shadow: 12px 20px 35px rgb(65 107 197 / 50%);
}

.inside-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  width: 1176px;
  margin: 0px auto;
  max-width: 100%;
  background-image: url(../images/home_protrader_tools_bg.png);
  padding: 55px 75px;
  box-shadow: 0px 20px 35px rgb(65 107 197 / 50%);
  margin-bottom: 100px;
}

.inside-view .news {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inside-view .subscribe {
  padding: 0 0 0 60px;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.inside-view .view {
  width: 60%;
  text-align: left;
}

.inside-view .f {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  font-size: 50px;
  font-family: "Oblivian Text Medium";
}

.inside-view .s {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.5;
  margin: 0px 0px 23px;
}

.inside-view .list {
  width: 40%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.inside-view .list li {
  padding: 0px 0px 20px 45px;
  margin: 0px;
  background: url(../images/home_protrader_tools_list_icon.webp) left top
    no-repeat;
  font-family: "Oblivian Text Medium";
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.inside-view .list li:last-of-type {
  padding: 0 0 0 45px;
}

.inside-view .some-text {
  line-height: 1.7;
  color: #fff;
}

.inside-view .some-text strong {
  color: #fff;
  font-size: 18px;
  font-family: "Oblivian Text Semi-Bold";
}

.inside-view .subscribe button {
  background: #fff;
  border-radius: 35px;
  padding: 14px 20px 12px;
  color: #06122d;
  font-size: 15px;
  border: 1px solid #fff;
  font-family: "Oblivian Text Medium";
}

.inside-view .subscribe button:hover {
  background-color: #00f0ff;
  border-color: #00f0ff;
}

.speed {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding: 100px 0 80px;
  max-width: 1167.2px;
  width: 100%;
  margin: 0 auto;
}

.speed .s-funny-image {
  position: absolute;
  left: -20px;
  width: 40%;
  height: 717px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/home_text_and_image_wrapper_img21.webp);
  box-shadow: -12px 20px 35px rgb(65 107 197 / 50%);
}

.speed .content {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.speed .theme {
  width: 100%;
  font-size: 56px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
}

.speed .content .main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.speed .text-content {
  width: 70%;
  padding: 0 20px;
}

.speed .text-content .text {
  display: inline-block;
  line-height: 1.5;
  font-size: 20px;
  line-height: 1.7;
  margin: 0 0 23px;
  font-family: "Oblivian Text UltraLight";
  margin-bottom: calc(18px + 23px);
}

.speed .text-content .list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.speed .text-content .list li {
  padding: 0 0 23px 38px;
  margin: 0;
  background: url(../images/home_text_and_image_tick_list_icon.webp) left 3px
    no-repeat;
  font-family: "Oblivian Text Medium";
  font-size: 18px;
  line-height: 1.5;
}

.speed .text-content button {
  background: #0051ff;
  border-radius: 35px;
  padding: 14px 20px 12px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  border: 1px solid #0051ff;
  text-decoration: none;
  font-family: "Oblivian Text Medium";
}

.speed .text-content button:hover {
  background-color: #00f0ff;
  border-color: #00f0ff;
  color: #06122d;
}

.speed .content .main-content .image {
  width: 30%;
  height: 400px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-image: url(../images/home_text_and_image_wrapper_icon2.png);
}

.safe-hands {
  position: relative;
  padding: 0 0 80px 50px;
  background-color: #f9f9f9;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #000d28;
  max-width: 1167.2px;
  margin: 150px auto 0;
}

.safe-hands .text-content {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

.safe-hands .text-content .heading {
  display: block;
  width: 100%;
  font-size: 56px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
}

.safe-hands .text-content .image {
  width: 160px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/home_text_and_image_wrapper_icon3.png);
}

.safe-hands .text-content > .text {
  width: calc(100% - 160px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
}

.safe-hands .text .main {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.7;
  margin: 0px 0px 23px;
}

.safe-hands .text-content .list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.safe-hands .text-content .list li {
  padding: 0 0 23px 38px;
  margin: 0;
  background: url(../images/home_text_and_image_tick_list_icon.webp) left 3px
    no-repeat;
  font-family: "Oblivian Text Medium";
  font-size: 18px;
  line-height: 1.5;
}

.safe-hands .sh-funny-image {
  position: absolute;
  right: 0;
  width: 45%;
  text-align: center;
  padding: 32px 40px 30px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.safe-hands .sh-funny-image::after {
  content: "";
  height: 50px;
  width: calc(100% + (20px * 2));
  display: block;
  margin: 0 auto;
  right: -20px;
  bottom: -50px;
  opacity: 0.2;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/home_text_and_image_wrapper_shadow.png);
}

.sh-funny-image .f-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 35px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.sh-funny-image .f-section .theme {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
  width: 100%;
}

.sh-funny-image .f-section > div {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sh-funny-image .f-section > div > div {
  height: 100px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sh-funny-image .f-section > div > span {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Oblivian Text Regular";
  padding-top: 20px;
}

.sh-funny-image .f-section .one .image {
  background-image: url(../images/home_text_and_image_icon1_1.webp);
}

.sh-funny-image .f-section .two .image {
  background-image: url(../images/home_text_and_image_icon2.png);
}

.sh-funny-image .f-section .three .image {
  background-image: url(../images/home_text_and_image_icon3.png);
}

.sh-funny-image .s-section {
  padding-top: 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.sh-funny-image .s-section .theme {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
  width: 100%;
}

.sh-funny-image .s-section > div {
  width: 33.33%;
  height: 100px;
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.sh-funny-image .s-section .one {
  background-image: url(../images/home_text_and_image_bottom_icon1.png);
}

.sh-funny-image .s-section .two {
  background-image: url(../images/home_text_and_image_bottom_icon2.png);
}

.sh-funny-image .s-section .three {
  background-image: url(../images/home_text_and_image_bottom_icon3.png);
}

.sh-funny-image .s-section .four {
  background-image: url(../images/home_text_and_image_bottom_icon4.png);
}

.sh-funny-image .s-section .five {
  background-image: url(../images/home_text_and_image_bottom_icon5.png);
}

.sh-funny-image .s-section .six {
  background-image: url(../images/home_text_and_image_bottom_icon6.png);
}

.safe-hands .text-content button {
  background: #0051ff;
  border-radius: 35px;
  padding: 14px 20px 12px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  border: 1px solid #0051ff;
  text-decoration: none;
  font-family: "Oblivian Text Medium";
}

.safe-hands .text-content button:hover {
  background-color: #00f0ff;
  border-color: #00f0ff;
  color: #06122d;
}

.liquid {
  width: 100%;
  margin-top: 85px;
  text-align: center;
  padding-bottom: 85px;
}

.liquid .theme {
  display: block;
  font-size: 56px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
}

.liquid .text {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5;
  width: 50%;
}

.s-slide {
  width: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0 auto 80px;
}

.s-slide ul {
  margin: 0;
  padding: 0;
  list-style-image: radial-gradient(#0051ff);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  animation: s-slider 25s linear infinite normal none;
}

@keyframes s-slider {
  0% {
    transform: translate(0, 0);
  }
  7.143% {
    transform: translate(-350px, 0);
  }
  14.284% {
    transform: translate(calc(-350px * 2), 0);
  }
  21.426% {
    transform: translate(calc(-350px * 3), 0);
  }
  28.569% {
    transform: translate(calc(-350px * 4), 0);
  }
  35.712% {
    transform: translate(calc(-350px * 5), 0);
  }
  42.855% {
    transform: translate(calc(-350px * 6), 0);
  }
  49.998% {
    transform: translate(calc(-350px * 7), 0);
  }
  57.141% {
    transform: translate(calc(-350px * 8), 0);
  }
  64.284% {
    transform: translate(calc(-350px * 9), 0);
  }
  71.427% {
    transform: translate(calc(-350px * 10), 0);
  }
  78.57% {
    transform: translate(calc(-350px * 11), 0);
  }
  85.713% {
    transform: translate(calc(-350px * 12), 0);
  }
  92.856% {
    transform: translate(calc(-350px * 13), 0);
  }
  100% {
    transform: translate(calc(-350px * 14), 0);
  }
}

.s-slide ul li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  height: 100%;
  width: 350px;
  margin: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.s-slide ul li div {
  position: absolute;
  height: 10px;
  width: 10px;
  left: -5px;
  top: 50%;
  border-radius: 50%;
  border: #0051ff;
  background-color: #0051ff;
}

.s-slide ul li._1 {
  background-image: url(../images/1.png);
}

.s-slide ul li._2 {
  background-image: url(../images/2.png);
}

.s-slide ul li._3 {
  background-image: url(../images/3.png);
}

.s-slide ul li._4 {
  background-image: url(../images/4.png);
}

.s-slide ul li._5 {
  background-image: url(../images/5.png);
}

.s-slide ul li._6 {
  background-image: url(../images/6.png);
}

.s-slide ul li._7 {
  background-image: url(../images/7.png);
}

.s-slide ul li._8 {
  background-image: url(../images/8.png);
}

.s-slide ul li._9 {
  background-image: url(../images/9.png);
}

.s-slide ul li._10 {
  background-image: url(../images/10.png);
}

.s-slide ul li._11 {
  background-image: url(../images/11.png);
}

.s-slide ul li._12 {
  background-image: url(../images/12.webp);
}

.s-slide ul li._13 {
  background-image: url(../images/13.png);
}

.s-slide ul li._14 {
  background-image: url(../images/14.png);
}

div._2 {
  margin-bottom: 120px;
}

div._2 .displays [class^="d"] {
  background: url(../images/home_slide_row2_bg_new.jpg) no-repeat center;
  justify-content: center;
  align-items: flex-start;
  padding: 75px 75px 40px;
  gap: 0;
  flex-direction: column;
}

div._2 .displays [class^="d"] .heading,
div._2 .displays [class^="d"] .body {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #00f0ff;
  font-family: "Oblivian Text Semi-Bold";
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
}

div._2 .displays [class^="d"] .heading {
  padding: 32px;
}

div._2 .displays [class^="d"] .heading li {
  text-align: center;
  width: 170px;
}

div._2 .displays [class^="d"] .body li {
  width: 100%;
  text-align: left;
  padding: 32px;
  border-top: 1px solid rgb(118, 168, 249);
}

.global {
  width: 100%;
  display: flex;
  position: relative;
  height: 768px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 150px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/globe/1.png);
  animation: globe 30s linear infinite normal none;
}

@keyframes globe {
  0% {
    background-image: url(../images/globe/1.png);
  }
  5.556% {
    background-image: url(../images/globe/2.png);
  }
  11.112% {
    background-image: url(../images/globe/3.png);
  }
  16.668% {
    background-image: url(../images/globe/4.png);
  }
  22.224% {
    background-image: url(../images/globe/5.png);
  }
  27.78% {
    background-image: url(../images/globe/6.png);
  }
  33.336% {
    background-image: url(../images/globe/7.png);
  }
  38.892% {
    background-image: url(../images/globe/8.png);
  }
  44.448% {
    background-image: url(../images/globe/9.png);
  }
  50.004% {
    background-image: url(../images/globe/10.png);
  }
  55.56% {
    background-image: url(../images/globe/11.png);
  }
  61.116% {
    background-image: url(../images/globe/12.png);
  }
  66.672% {
    background-image: url(../images/globe/13.png);
  }
  72.228% {
    background-image: url(../images/globe/14.png);
  }
  77.784% {
    background-image: url(../images/globe/15.png);
  }
  83.34% {
    background-image: url(../images/globe/16.png);
  }
  88.896% {
    background-image: url(../images/globe/17.png);
  }
  94.452% {
    background-image: url(../images/globe/18.png);
  }
  100% {
    background-image: url(../images/globe/1.png);
  }
}

.global > .text {
  width: 45%;
  text-align: left;
}

.global > .text .theme {
  display: block;
  margin-bottom: 18px;
  font-size: 78px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: "Oblivian Text Medium";
}

.global > .text .text {
  display: block;
  line-height: 1.5;
  font-size: 20px;
  line-height: 1.7;
  margin: 0px 0px 23px;
}
